In [3]:
!pip install duckdb

Requirement already satisfied: duckdb in ./.venv/lib/python3.13/site-packages (1.4.1)

In [14]:
import os
import duckdb

# That's it! No server, no container needed
con = duckdb.connect()

# Configure to connect to your MinIO
con.execute(f"""
    SET s3_endpoint='localhost:9000';
    SET s3_access_key_id='{os.getenv('MINIO_ROOT_USER')}';
    SET s3_secret_access_key='{os.getenv('MINIO_ROOT_PASSWORD')}';
    SET s3_use_ssl=false;
    SET s3_url_style='path';
""")

# Queries here!
df = con.execute("""
                 
    SELECT * FROM read_parquet('s3://bronze/taxi_data.parquet/*.parquet') 
    LIMIT 10;
""").df()

print(f"Number of rows: {len(df)}")
df.head()

Number of rows: 12748986

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,etl_processed_at
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,2025-10-19 08:51:30.521666
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,2025-10-19 08:51:30.521666
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,2025-10-19 08:51:30.521666
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,2025-10-19 08:51:30.521666
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,2025-10-19 08:51:30.521666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12748981,1,2015-01-10 19:01:44,2015-01-10 19:05:40,2,1.00,-73.951988,40.786217,1,N,-73.953735,40.775162,1,5.5,0.0,0.5,1.25,0.0,0.3,7.55,2025-10-19 08:51:30.521666
12748982,1,2015-01-10 19:01:44,2015-01-10 19:07:26,2,0.80,-73.982742,40.728184,1,N,-73.974976,40.720013,1,6.0,0.0,0.5,2.00,0.0,0.3,8.80,2025-10-19 08:51:30.521666
12748983,1,2015-01-10 19:01:44,2015-01-10 19:15:01,1,3.40,-73.979324,40.749550,1,N,-73.969101,40.787800,2,13.5,0.0,0.5,0.00,0.0,0.3,14.30,2025-10-19 08:51:30.521666
12748984,1,2015-01-10 19:01:44,2015-01-10 19:17:03,1,1.30,-73.999565,40.738483,1,N,-73.981819,40.737652,1,10.5,0.0,0.5,2.25,0.0,0.3,13.55,2025-10-19 08:51:30.521666
12748985,1,2015-01-10 19:01:45,2015-01-10 19:07:33,1,0.70,-73.960350,40.766399,1,N,-73.968643,40.760777,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,2025-10-19 08:51:30.521666